:root {
    --main-color: rgb(64, 156, 64);
    --main-color-light: rgb(203, 235, 203);
    --bg-light: #f1f5f9;

    --navbar-height: 60px;
    --footer-height: 64px;
    --navbar-tab-padding: 25px 30px 0px;
}

body {
    font-family: Inter, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
    background-color: var(--bg-light);
    @apply text-lg text-gray-900;
}

.title {
    @apply py-8 text-3xl font-medium;
}

.content {
    @apply rounded-xl bg-white p-10 shadow;
}

.subtitle {
    @apply mb-3 text-2xl font-semibold;
}

p {
    @apply mb-2;
}